@media (max-width: 1400px) {
	/* header-top */
	.header-top {
		&__wrapper {
			background-size: 35%;
			margin-bottom: 110px;
		}

		&__title {
			font-size: 50px;
			line-height: 92%;
			margin-bottom: 10px;
		}

		&__text {
			font-size: 18px;
			line-height: 123%;
			margin-bottom: 18px;
		}

		&__content-title {
			padding: 80px 0 0 40px;
			max-width: 730px;
			max-width: 550px;
		}

		&__heading {
			font-size: 20px;
		}

		&__list {
			gap: 17px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.info {
		&__wrapper {
			background-size: 0;
		}
	}

	/* header */
	.header {
		&__nav {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

@media (max-width: 1200px) {
	/* reference */
	.reference {
		&__wrapper {
			gap: 100px;
		}

		&__content {
			padding: 32px 32px 32px 32px;
		}
	}

	/*teacherSwiper  */
	.teacherSwiper {
		padding-left: 15px;
	}

	/* many */
	.many {
		&__item-title {
			font-size: 30px;
		}

		&__item {
			padding: 22px 30px;
			min-height: 160px;
		}

		&__item--medium {
			height: 265px;
		}

		&__item--large {
			height: 400px;
		}
	}

	/* benefit */
	.benefit {
		&__wrapper {
			justify-content: space-around;
		}

		&__img {
			max-width: 500px;
		}
	}

	/* header-top */
	.header-top {
		padding-bottom: 140px;
	}

	.info {
		&__box {
			padding: 24px 15px;
		}
	}

	/* Глобальные стили */
	.title {
		font-size: 48px;
		line-height: 110%;
	}

	.logo {
		max-width: 240px;
	}
}

@media (max-width: 992px) {
	/* certificate */
	.certificate {
		&__title {
			font-size: 30px;
		}

		&__inner {
			max-width: 335px;
			margin-bottom: 70px;
		}

		&__wrapper {
			min-height: 300px;
		}

		&__img-box {
			flex-shrink: 1;
		}
	}

	/* support */
	.support {
		&__wrapper {
			gap: 10px;
			justify-content: space-between;
		}
	}

	/* reference */
	.reference {
		&__wrapper {
			gap: 60px;
		}

		&__img--box {
			max-width: 100%;
		}

		&__content {
			max-width: 100%;
			width: 100%;
		}

		&__content--two {
			order: 1;
		}

		&__box {
			flex-wrap: wrap;
			gap: 32px;
		}
	}

	/* teacherSwiper */
	.teacherSwiper {
		&__img {
			max-height: 400px;
		}
	}

	/* many */
	.many {
		&__item-title {
			font-size: 22px;
		}

		&__item {
			padding: 18px 15px;
		}

		&__item--small {
			height: 150px;
		}

		&__item--medium {
			height: 225px;
		}

		&__item--large {
			height: 325px;
		}
	}

	/* benefit */
	.benefit {
		padding-bottom: 110px;
		&__wrapper {
			flex-wrap: wrap;
		}

		&__img {
			max-width: 100%;
		}

		&__box {
			max-width: 100%;
		}
	}

	/* header-top */
	.header-top {
		padding-bottom: 110px;
		&__wrapper {
			background-size: 0;
			align-items: center;
		}

		&__content-title {
			padding: 48px 0 0 0;
		}

		&__list {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	/* header */
	.header {
		&__nav {
			position: relative;
		}

		&__list {
			position: absolute;
			flex-direction: column;
			align-items: start;
			background-color: $color-grey;
			max-width: 500px;
			height: 100vh;
			top: 0;
			left: -15px;
			padding-top: 150px;
			padding-left: 15px;
			z-index: 1;
			transform: translateX(-100%);
			transition: transform 0.3s ease-out;
		}

		&__list.menu--active {
			transform: translateX(0);
		}

		&__link {
			display: block;
			color: $color-white;
			font-size: 25px;
			margin-bottom: 15px;
			padding: 10px;
		}
	}

	/* Глобальные стили */
	.burger {
		display: block;
	}

	.accordion {
		&__title,
		&__content {
			font-size: 16px;
		}
	}

	.title {
		font-size: 42px;
		line-height: 110%;
	}
}

@media (max-width: 768px) {
	/*reviews */

	.reviews {
		&__list {
			grid-template-columns: repeat(1, minmax(0, 568px));
			justify-content: center;
		}
	}

	/* certificate */
	.certificate {
		&__inner {
			max-width: 212px;
			margin-bottom: 30px;
			margin-top: 65px;
			padding-right: 25px;
		}
	}

	/* networking */
	.networking {
		&__title {
			max-width: 100%;
		}

		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 30px;
		}

		&__accordion--box {
			width: 100%;
		}
	}

	/* support */
	.support {
		&__wrapper {
			flex-direction: column;
			align-items: center;
			gap: 50px;
		}
	}

	/* many */
	.many {
		padding-bottom: 90px;
		&__item-title {
			font-size: 18px;
		}

		&__inner {
			flex-direction: column;
		}

		&__item {
			padding: 10px 10px;
			min-height: 140px;
		}

		&__item--medium {
			height: 200px;
		}

		&__item--large {
			height: 285px;
		}

		&__rank {
			padding: 3px 7px;
			margin: 0 0 7px 0;
		}

		&__subtext {
			font-size: 17px;
		}
	}

	/* benefit */
	.benefit {
		padding-bottom: 90px;
	}

	/* header-top */
	.header-top {
		.header__container {
			padding: 0;
		}

		&__content-title {
			padding-left: 20px;
			padding-right: 20px;
		}

		&__item {
			max-width: 250px;
		}
	}

	.info {
		.container {
			padding: 0;
		}
	}

	/* Глобальные стили */
	.title {
		font-size: 36px;
		line-height: 110%;
	}

	/* штука от бургер меню */
	.lock::after {
		content: '';
		background-color: rgb(102 102 102);
	}
}

@media (max-width: 576px) {
	/*reviews */

	.reviews {
		padding-bottom: 60px;
		&__item {
			padding: 10px;
		}
	}

	/* certificate */
	.certificate {
		&__container {
			padding-bottom: 36px;
		}

		&__title {
			text-align: center;
			max-width: 100%;
			margin-bottom: 0;
		}

		&__text {
			text-align: center;
			max-width: 100%;
		}

		&__inner {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			margin: 0;
			padding: 15px;
			max-width: 100%;
		}

		&__img-box {
			display: none;
		}
	}

	/* program */
	.program {
		padding-bottom: 60px;
		&__accordion-inner {
			gap: 10px;
		}

		&__accordion-title h3 {
			font-size: 20px;
		}
	}

	/* networking */
	.networking {
		padding-bottom: 60px;
		&__title {
			text-align: center;
		}
	}

	/* support */
	.support {
		padding-bottom: 60px;
		&__title {
			text-align: center;
		}

		&__box {
			min-height: 380px;
			padding: 0px 15px 15px 15px;
		}
	}

	/* reference */
	.reference {
		padding-bottom: 60px;
		&__title {
			text-align: center;
		}

		&__content-title {
			font-size: 25px;
		}

		&__content {
			min-height: 100%;
			padding: 15px;
		}
	}

	/* teacher */
	.teacher {
		&__title {
			max-width: 100%;
			text-align: center;
		}

		&__arrow {
			display: none;
		}
	}

	/*teacherSwiper */
	.teacherSwiper {
		&__img {
			max-height: 350px;
		}
	}

	/* many */
	.many {
		padding-bottom: 60px;
		&__title {
			margin-bottom: 40px;
			text-align: center;
		}

		&__subtext {
			margin-bottom: 40px;
		}

		&__list {
			display: flex;
			flex-direction: column;
		}

		&__item {
			max-width: 100%;
			padding: 15px 15px;
			min-height: 150px;
		}

		&__item--medium {
			height: 150px;
		}

		&__item--large {
			height: 150px;
		}
	}

	/* benefit */
	.benefit {
		padding-bottom: 60px;
		&__title {
			text-align: center;
		}

		&__img {
			display: none;
		}
	}

	/* header-top */
	.header-top {
		padding-bottom: 60px;
		&__wrapper {
			margin-bottom: 50px;
		}

		&__title {
			font-size: 40px;
		}

		&__text {
			font-size: 16px;
			line-height: 123%;
			margin-bottom: 10px;
		}

		&__content-title {
			margin-bottom: 30px;
		}

		&__description {
			max-width: 100%;
		}

		&__item {
			display: flex;
			flex-direction: column;
			align-content: center;
			align-items: center;
			text-align: center;
			max-width: 100%;
			min-height: 130px;
		}
	}

	.info {
		&__img {
			display: none;
		}

		&__text {
			padding-left: 0;
		}
	}

	/* header */
	.header {
		&__link {
			font-size: 20px;
		}
	}
	/* Глобальные стили */
	.title {
		font-size: 32px;
		line-height: 110%;
	}

	.logo {
		max-width: 200px;
	}
}

@media (max-width: 416px) {
	/*teacherSwiper */
	.teacherSwiper {
		padding-right: 15px;
	}

	/* Глобальные стили */
	.title {
		font-size: 24px;
		line-height: 130%;
	}
}
