$color-black: #000; /* черный цвет */
$color-white: #fff; /* Основной белый цвет */
$color-active: #ff9534; /* Цвет активного состояния */
$color-title: #1d1d1d; /* Цвет заголовков */
$color-grey: #666; /* Основной серый цвет */
$color-bg-light: #f5f5f5; /* Светлый фон для аккордеонов или блоков */
$color-yellow-light: #ffed93; /* Светлый желтый */
$color-blue-dark: #013cb2; /* Темно-синий */
