$color-black: #000; /* черный цвет */
$color-white: #fff; /* Основной белый цвет */
$color-active: #ff9534; /* Цвет активного состояния */
$color-title: #1d1d1d; /* Цвет заголовков */
$color-grey: #666; /* Основной серый цвет */
$color-bg-light: #f5f5f5; /* Светлый фон для аккордеонов или блоков */
$color-yellow-light: #ffed93; /* Светлый желтый */
$color-blue-dark: #013cb2; /* Темно-синий */
$color-bg-certificate: #292929;
$color-bg-btn: #ebebeb;
$color-bg-curriculum: #ffd6b0;
$color-bg-deadline: #fff93d;
$color-subprise: #a3a3a3;
$color-event-title: #e0e0e0;
$color-top-title: #141414;
