<footer class="footer">
  <div class="container">

    <div class="footer-top">
      <div class="footer-top__wrapper-tel">

        <div class="footer-top__item">
          <a class="footer-top__tel" href="tel:88005000522">
            8 800 500-05-22
          </a>
          <span class="footer-top__tel-info">
            Контактный центр
          </span>
        </div>


        <div class="footer-top__item">
          <a class="footer-top__tel" href="tel:+74994449036">
            +7 499 444-90-36
          </a>
          <span class="footer-top__tel-info">
            Отдел заботы о пользователях
          </span>
        </div>

      </div>

      <address class="footer-top__wrapper-adress">

        <div class="footer-top__inner">
          <p class="footer-top__adress">
            г. Москва, ул. Тимура Фрунзе, дом 11, корпус 2, этаж 1,
            помещение 1, комната 75
          </p>

          <a class="footer-top__website" href="hello@skillbox.ru" target="_blank">
            hello@skillbox.ru
          </a>
        </div>

        <ul class="footer-top__social">
          <li class="footer-top__social-item">
            <a href="#" target="_blank">
              <img class="footer-top__img" src="images/icons/vk.svg" alt="vk-icons">
            </a>
          </li>

          <li class="footer-top__social-item">
            <a href="#" target="_blank">
              <img class="footer-top__img" src="images/icons/youtube.svg" alt="youtube-icons">
            </a>
          </li>

          <li class="footer-top__social-item">
            <a href="#" target="_blank">
              <img class="footer-top__img" src="images/icons/tg.svg" alt="tg-icons">
            </a>
          </li>

        </ul>

      </address>
    </div>

    <div class="footer-center">

      <ul class="footer-center__list">

        <li class="footer-center__item">
          <a class="footer-center__link" href="#">Партнерская программа</a>
        </li>

        <li class="footer-center__item">
          <a class="footer-center__link" href="#">Оферта</a>
        </li>

        <li class="footer-center__item">
          <a class="footer-center__link" href="#">Политика конфиденциальности</a>
        </li>

        <li class="footer-center__item">
          <a class="footer-center__link" href="#">Правила пользования Платформой</a>
        </li>

        <li class="footer-center__item">
          <a class="footer-center__link" href="#">* Условия акции</a>
        </li>

        <li class="footer-center__item">
          <a class="footer-center__link" href="#">Рекомендательные технологии</a>
        </li>

      </ul>

      <div class="footer-center__wrapper">
        <div class="footer-center__text">

          <p>
            Мы <a href="#">используем файлы cookie</a> для персонализации сервисов и повышения удобства пользования
            сайтом. Если вы не согласны на их использование, поменяйте настройки браузера.
          </p>

          <p>
            Образовательные услуги оказываются ЧОУ ДПО «Образовательные технологии «Скилбокс
            (Коробка навыков)» на основании Лицензии № Л035-01298-77/00179609 от 19 января 2022 года.
          </p>

          <p>
            Правообладатель ПО LMS «Skillbox 2.0» ООО «Скилбокс».
          </p>

        </div>
      </div>

    </div>

    <div class="footer-bottom">

      <a class="footer-bottom__copyright" href="#">© Skillbox, 2023</a>

      <div class="footer-bottom__inner">
        <span class="footer-bottom__runet">Премии Рунета</span>
        <span class="footer-bottom__years">2018, 2019, 2020, 2021, 2022</span>
      </div>

    </div>

  </div>
</footer>