<header class="header">
  <div class="header__container">
    <nav class="header__nav">
      <div class="header__logo logo">
        <img class="header__img logo__img" src="images/logo.png" alt="logo">
      </div>
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="#">Преподаватели</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">Программа курса</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">Отзывы</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">Часто задаваемые вопросы</a>
        </li>
      </ul>
      <button class="burger" type="button">
        <span class="burger__line"></span>
        <span class="sr-only">Открыть меню</span>
      </button>
    </nav>
  </div>
</header>